.scores{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: rgb(76, 21, 78);
}
.highscore{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: rgb(76, 21, 78);
    margin-bottom: 50px;
}
.message{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: rgb(18, 44, 20);
    margin-bottom: 50px;
}